body #outer button {
  color: var(--text-fg);
  box-shadow: initial;
  border: 1px solid var(--medium-border);
  border-radius: 15px;
  padding: 6px 24px;
  margin: 0 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  transition: background 1s ease-out;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

body.nightMode button:hover {
  background: linear-gradient(0deg, #454545 0%, #656565 100%);
}

body #outer button:focus,
body #outer button.focus {
  transition: 0.6s;
  border-radius: 4px;
}
