body #typeans {
  padding: 8px 12px;
  border-radius: 5px;
}
body.card {
  width: 90%;
  margin: 20px auto;
  max-width: 1080px;
}

/* NDFS addon fix */
body #outer.ndfs .bottomWrapper {
  height: 90px !important;
  zoom: 1.1 !important;
  min-width: 190px;
}
body #outer.ndfs #bottomiFrame {
  top: auto !important;
  bottom: 0;
  width: 100% !important;
  background: transparent !important;
  left: -8px !important;
}
