html {
  height: 100%;
  min-height: 65px;
}
body {
  overflow: hidden;
  height: 100%;
}
body #outer {
  border-top: 1px solid transparent;
  height: 100%;
}
body.nightMode #outer {
  border-top-color: transparent;
}
body #outer table#innertable {
  padding: 6px;
  box-sizing: border-box;
  /* transform: translateY(8); */
}
body button {
  margin: 0;
}
body .stat {
  position: relative;
  padding-top: 0px;
  min-width: 120px;
}
body .stat2 {
  padding-top: 0px;
  font-weight: normal;
}
td[align="center"] {
  position: relative;
}
body .stattxt,
td[align="center"] > span {
  position: absolute;
  display: block;
  left: 50%;
  transform: translate(-50%, -10px);
  color: var(--text-fg, var(--legacy-text-fg));
}
body .stattxt#time {
  transform: translate(-50%, -6px);
}
body #outer button#ansbut,
body #outer table button {
  transform: translateY(-4px);
}
/* ARBb addon fix */
body #outer.arbb .stat {
  min-width: auto;
  padding-left: 2px;
  padding-right: 2px;
}
body #outer.arbb table#innertable {
  padding: initial;
  width: calc(100% - 10px);
}
body #outer.arbb button {
  /* color: var(--text-fg, var(--legacy-text-fg)); */
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  margin-left: 2px;
  margin-right: 2px;
}
/* NDFS addon fix */
body #outer.ndfs {
  background: var(--frame-bg, var(--legacy-frame-bg)) !important;
  transform: translateX(-8px);
  border-radius: 10px 10px 0 0;
}
body #outer.ndfs table#innertable {
  transform: translate(-3px, 20px) !important;
  background: var(--frame-bg, var(--legacy-frame-bg)) !important;
}
body #outer.ndfs table#innertable tbody {
  transform: translateX(6px);
}
body #outer.ndfs table:not(#innertable) {
  position: relative !important;
}
