body #outer {
  display: flex;
  justify-content: center;
}
body center #header {
  width: auto;
  border-bottom: none;
  border-radius: 0 0 12px 12px;
  background-color: var(--frame-bg, var(--legacy-frame-bg));
  height: 40px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 11px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 4px 5px 0px;
}
body.nightMode center #header {
  background-color: var(--faint-border, var(--legacy-faint-border));
}
body center #header .hitem {
  padding-left: initial;
  padding-right: initial;
  padding: 0 15px;
  color: var(--text-fg, var(--legacy-text-fg)) !important;
}
body center #header a#sync {
  color: var(--link, var(--legacy-link)) !important;
}
